In [5]:
# Pandas에 대한 자세한 설명은 https://pandas.pydata.org/pandas-docs/stable/index.html

In [1]:
import pandas as pd

names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

BabyDataSet = list(zip(names,births,custom))
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births', 'custom'])

# 데이터 프레임의 상단 부분을 출력
df.head()

     Names  Births  custom
0      Bob     968       1
1  Jessica     155       5
2     Mary      77      25
3     John     578      13
4      Mel     973   23232

In [7]:
# 데이터 프레임의 열 타입 정보를 출력
print(df.dtypes)
print('------------------')

# 데이터 프레임의 형태 정보 출력
print(df.index)
print('------------------')

# 데이터 프레임의 열 정보 출력
print(df.columns)

Names     object
Births     int64
custom     int64
dtype: object
------------------
RangeIndex(start=0, stop=5, step=1)
------------------
Index(['Names', 'Births', 'custom'], dtype='object')

In [8]:
# 데이터 프레임의 하나의 열을 선택 출력
df['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [9]:
# Births 열이 100 보다 큰 데이터를 선책 출력
df[df['Births'] > 100]

     Names  Births  custom
0      Bob     968       1
1  Jessica     155       5
3     John     578      13
4      Mel     973   23232

In [10]:
# 데이터 프레임에서의 평균값을 계산
df.mean()

Births     550.2
custom    4655.2
dtype: float64